langchain==0.1.4
langchain_community==0.0.16
langchain_core==0.1.17
langchain_openai==0.0.5
python-dotenv==1.0.1
streamlit==1.31.1
huggingface-hub==0.14.1
google-cloud-translate==3.15.3
beautifulsoup4==4.8.2